/*  Home   inicio  */
.homeProdutos {
    display: flex;
    background: url("../image/teste3.jpg");
    background-color: black;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.homeProdutos .max-width {
    margin: auto 0 auto 40px;
}

.homeProdutos .homeProdutos-content .text-1 {
    font-size: 27px;
}

.homeProdutos .homeProdutos-content .text-2 {
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}

.homeProdutos .homeProdutos-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.homeProdutos .homeProdutos-content .text-3 span {
    color: #ffcc00;
    font-weight: 500;
}

.homeProdutos .homeProdutos-content a {
    display: inline-block;
    background: #e9be1196;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #e9be11;
}

.homeProdutos .homeProdutos-content a:hover {
    color: #e9be11;
    background: none;
}
